{% extends "base.html" %}

{% load i18n static %}
{% block userlinks %}{% url 'django-admindocs-docroot' as docsroot %}{% if docsroot %}<a href="{{ docsroot }}">{% trans 'Documentation' %}</a> / {% endif %} {% trans 'Change password' %} / <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}

{% block content %}<div id="content-main">

    <!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrap">

        <div class="row">
            <div class="col-md-12">

                <form class="form-horizontal" method="post" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% if form.errors %}
                        <p class="errornote">
                        {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
                        </p>
                    {% endif %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><strong>Serviços</strong></h3>
                            <ul class="panel-controls">
                                <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                            </ul>
                        </div>
                        <div class="panel-body">

                            <div class="row">

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">{{ form.old_password.label_tag }}</label>
                                        <div class="col-md-9">
                                            <div class="input-group">
                                                {{ form.old_password }}
                                            </div>
                                            <span class="help-block">Sua senha atual</span>
                                            <span class="error">{{ form.old_password.errors }}</span>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">{{ form.new_password1.label_tag }}</label>
                                        <div class="col-md-9">
                                            <div class="input-group">
                                                {{ form.new_password1 }}
                                                {% if form.new_password1.help_text %}
                                                    <span class="help-block">{{ form.new_password1.help_text|safe }}</span>
                                                {% endif %}
                                                {% if form.newpassword1.error %}
                                                    <span class="error">{{ form.new_password1.errors }}</span>
                                                {% endif %}
                                            </div>
                                            <span class="help-block">Nova Senha</span>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">{{ form.new_password2.label_tag }}</label>
                                        <div class="col-md-9">
                                            <div class="input-group">
                                                {{ form.new_password2 }}
                                                {% if form.new_password2.help_text %}
                                                    <span class="help-block">{{ form.new_password2.help_text|safe }}</span>
                                                {% endif %}
                                            </div>
                                            <span class="error">{{ form.new_password2.errors }}</span>
                                            <span class="help-block">Nova Senha</span>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                        <div class="panel-footer">
                            <button class="btn btn-default">Limpar Campos</button>
                            <button class="btn btn-primary pull-right" type="submit">Salvar</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>

    </div>
    <!-- END PAGE CONTENT WRAPPER -->

{% endblock %}
