{% extends 'registration/base_login.html' %}

{% block content %}
    <form class="form-horizontal" method="post">
        {% csrf_token %}
        {{ form.non_fields_error }}
        <div class="form-group">
            <label class="col-md-3 col-xs-12 control-label" style="color: whitesmoke">Email</label>
            <div class="col-md-12">
                {{ form.email }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <button class="btn btn-info btn-block">Solicitar</button>
            </div>
        </div>
    </form>
{% endblock %}