{% extends "sorteio/app/base_site.html" %}

{% block title %} Table Dynamic {% endblock title %}

{% block stylesheets %}
{{ block.super }}
<link href="/static/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
<link href="/static/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
<link href="/static/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
<link href="/static/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
<link href="/static/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
<div class="right_col" role="main"
  style="display: flex; flex-direction: row; justify-content: center; align-items: flex-start;">
  <div class="info full-width" style="padding-right: 32px;">
    <h1>Informações</h1>
    <p>
      Nessa modalidade de sorteio os dados serão registrados seguindo o conceito de blocos, abaixo os passos para a
      deficinição dos defensores e alocação nos blocos
    </p>

    <h3>Passos</h3>
    <ul>
      <li>Os defensores são sorteados e uma ordem aleatória é definida;</li>
      <li>A ordem definida refere-se ao bloco que o defensor irá assumir, abaixo exemplo;
        <ol>
          <li>Bloco 01 - Defensor 03
            <ul>
              <li>data: 20/12/2022</li>
              <li>data: 21/12/2022</li>
              <li>data: 22/12/2022</li>
              <li>data: 23/12/2022</li>
              <li>data: 24/12/2022</li>
              <li>data: 25/12/2022</li>
            </ul>
          </li>
          <li>Bloco 02 - Defensor 01
            <ul>
              <li>data: 26/12/2022</li>
              <li>data: 27/12/2022</li>
              <li>data: 28/12/2022</li>
              <li>data: 29/12/2022</li>
              <li>data: 30/12/2022</li>
              <li>data: 31/12/2022</li>
            </ul>
          </li>
          <li>Bloco 03 - Defensor 02
            <ul>
              <li>data: 01/01/2023</li>
              <li>data: 02/01/2023</li>
              <li>data: 03/01/2023</li>
              <li>data: 04/01/2023</li>
              <li>data: 05/01/2023</li>
              <li>data: 06/01/2023</li>
            </ul>
          </li>
        </ol>
      </li>
    </ul>

    <h3>Utilização</h3>

    <ul>
      <li>Selecione a "comarca" que será sorteada;</li>
      <li>Clique em "sortear"
        <ul>
          <li>Se o defensor da comarca selecionada já tiver com alocações registradas, elas serão sobrescrevidas</li>
        </ul>
      </li>
      <li>Aguarde a finalização do sorteio.</li>
    </ul>

  </div>
  <div class="full-width">
    <form action="/sorteio/periodo" method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Sortear" id="btn-sortear" style="padding: 8px 16px;" class="full-width"
        onclick="mostrarMensagem()" /><br>
      <div id="mensagem" style="text-align: center; display: none;">
        <h1>Sorteio em execução</h1>
        <h2>Aguarde, esse processo pode levar alguns minutos!</h2>
      </div>
    </form>
  </div>
</div>

<script>
  var messagem = document.getElementById('mensagem');
  function mostrarMensagem() {
    mensagem.style.display = 'block';
  }
</script>
{% endblock content %}

{% block javascripts %}
{{ block.super }}
<!-- Datatables -->
<script src="/static/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/static/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script src="/static/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="/static/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
<script src="/static/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
<script src="/static/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="/static/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="/static/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
<script src="/static/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
<script src="/static/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="/static/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
<script src="/static/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
<script src="/static/vendors/jszip/dist/jszip.min.js"></script>
<script src="/static/vendors/pdfmake/build/pdfmake.min.js"></script>
<script src="/static/vendors/pdfmake/build/vfs_fonts.js"></script>
{% endblock javascripts %}