<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sorteio</title>
</head>
<body>
<table>
    {% for datas in sorteio_list %}
        <tr>
            <td>{{ forloop.counter }} </td>
            <td>{{ datas.data }} </td>
            <td>{{ datas.defensor }} </td>
        </tr>
    {% empty %}
        <form action="/sorteio" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Sortear" />
        </form>
    {% endfor %}
</table>

</body>
</html>