<div class="nav_menu">
  <nav>
    <div class="nav toggle">
      <a id="menu_toggle"><i class="fa fa-bars"></i></a>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li class="">
        <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          <img src="/static/images/user.png" alt="">
          {% if user.is_authenticated %}
            {{ user.username }}
          {% else %}
          Anônimo
          {% endif %}
          <span class=" fa fa-angle-down"></span>
        </a>
        <ul class="dropdown-menu dropdown-usermenu pull-right">
          {% if user.is_authenticated %}
          <li><a href="{% url 'usuario:change_password' %}"><i class="fa fa-key pull-right"></i>Alterar senha</a></li>
          <li><a href="/usuario/sair"><i class="fa fa-sign-out pull-right"></i>Encerrar sessão</a></li>
          {% else %}
          <li><a href="/usuario/entrar"><i class="fa fa-sign-in pull-right"></i>Entrar</a></li>
          {% endif %}
        </ul>
      </li>
    </ul>
  </nav>
</div>
