{% extends 'usuarios/base.html' %}

{% block title %}Alteração de senha{% endblock %}
{% block content %}
<div class="card">
    <h1>Alterar senha</h1>
    <form method="POST">
        {% csrf_token %}
        <p>
            <label for="senha_atual">Senha atual</label><br>
            <input type="password" name="senha_atual" id="senha_atual" placeholder="Digite a sua senha atual" required>
        </p>
        <p>
            <label for="nova_senha">Nova senha</label><br>
            <input type="password" name="nova_senha" id="nova_senha" placeholder="Digite a sua nova senha" required>
        </p>

        {% if messages %}
        <div class="erros">
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        <button type="submit" class="btn">Entrar</button>
    </form>
</div>
{% endblock %}